header {
    text-align: center;
    font: Courier;
    outline-style: none;
    background-color: cornflowerblue;
    padding
}
body {
    outline-style: double;
}

ul {
    list-style-type: none;
    text-align: left;
    box-sizing: 300px;
    display: block;
    background-color: black;
}