body {
    background-color: limegreen;
}

p {
    color: black;
}

h3 {
    color: black;
}

p3 {
    color: black;
}

ul{ 
    list-style-type: none;
    text-align: left;
}

h1 {
    background-color: lime;
}