body {
    background-color: limegreen;
}

p {
    color: black;
}

h3 {
    background-color: aqua;
    color: blue;
}

p3 {
    background-color: purple;
    color: magenta;
}

ul{ 
    list-style-type: none;
    text-align: left;
}